<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title> -->
    <%- include("./partials/head"); %>
  </head>
  <body>
    <%- include("./partials/header"); %>
    <h1>Home</h1>
    <div>welcome</div>
    <ul>
      <% people.forEach((person) => { %>
      <li><%= person %></li>
      <% }); %>
    </ul>
    <%- include("./partials/footer"); %>
  </body>
</html>
